html
{
	width: 100%;
	height: 100%;
	margin: 0px;
}

body 
{
	margin: 0px;
	padding: 0px;

	font: 13px/16px "Lucida Grande", Arial, Sans-serif;
	color: #333;
	background-color: #3f3f3f;
	background-image: url("../gfx/pageBGTop.jpg");
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
}

form
{
	margin: 0px;
	width: 100%;
	height: 100%;	
}

img
{
	border: none;
}

a:link, a:visited 
{
	color: #54691d;
	text-decoration: underline;
}
a:hover
{
	color: #769329;
	text-decoration: underline;
}
a:focus 
{
	outline: none;
}

.disabledLink1, .disabledLink1:link, .disabledLink1:visited, .disabledLink1:hover, .disabledLink1:focus
{
	color: #aaa;
	cursor: default;
	text-decoration: none;
}

select 
{
	padding: 5px;
}

input[type=text]
{
	padding:5px;
}

.ButtonText
{
	font-size: 14px;
}

#Master_Page
{
	width: 900px;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
}

.Master_Page_Border
{
	width: 7px;
	height: 100%;
	background-color: #9fc63d;
	background-image: url("../gfx/pageBorder.gif");
	background-position: left top;
	background-repeat: no-repeat;
	overflow: hidden;	
}

#Master_Page_Border_Left
{
	position: absolute;
	left: -7px;
}

#Master_Page_Border_Right
{
	position: absolute;
	left: 900px;
}

#Master_Page_Header
{
	position: relative;
	width: 100%;
	height: 41px;
	background-image: url("../gfx/headerBG.gif");
	background-position: left top;
	background-repeat: repeat-x;
	z-index: 100;
}

#Master_Page_Header_Logo
{
	position: absolute;
	width: 156px;
	height: 41px;
	overflow: hidden;
}

#Master_Page_Header_Right
{
	position: absolute;
	top: 0px;
	left: 600px;
	width: 300px;
	height: 41px;
	background-image: url("../gfx/headerRight.gif");
	background-position: right top;
	background-repeat: no-repeat;	 
	z-index: 10000;
}

#Master_Page_Body
{
	position: relative;
	z-index: 200;
	min-height: 360px;
}

#Master_Page_Footer
{
	position: absolute;
	top: auto;
	bottom: 0px;
	width: 100%;
	overflow: visible;
	z-index: 5000;
}

#Master_Page_Footer_Content
{
	margin: 7px 7px 0px 7px;
	padding: 7px;
	background-color: #eee;
	color: #555;
	border-top: solid 7px #ddd;
}


#Theme_Page_BrandLogo
{
	position: absolute; 
	left: 663px; 
	top: -22px; 
	width: 230px; 
	overflow: hidden; 
	z-index: 500;
}

#Theme_Page_Body
{
	position: relative;
	z-index: 300;
}

.pageContainer
{
	padding: 14px 14px 70px 14px;
}

.PageTitle
{
	padding: 0;
	height: 75px;
	background-color: #80A231;
	margin-left: 7px;
	margin-right: 244px;
}

.PageTitle h1
{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -2px;

	line-height: 75px;
	color: #fff;	
	vertical-align: middle;
	text-align:center;
	margin: 0;
	padding: 0;
}

.blockElem
{
}

.blockOverlay {
  background-color: #000;
  filter:alpha(opacity=70);
  opacity:0.7;
}

.MyUpdateProgress1Background 
{
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow:hidden;
  padding:0;
  margin:0;
  z-index:20003;
}

.blockMsg {
  top:40%; 
  left:43%;
  padding:10px;
  width:14%;
  background-color:#ffffff;
  border: solid 5px #e0eebc;
  text-align: center;
  color: #6d8729;
  font-weight: bold;
  font-size: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.MyUpdateProgress1Window 
{ 
  position:absolute; 
  z-index:20004;
} 

.blockProgressImage
{
	width: 24px;
	height: 24px;
	border: none;
	vertical-align:middle; 
	padding-right: 5px;
}

.SeparatorLine1
{
	height:1px; 
	overflow:hidden; 
	background-color:#cccccc; 
	margin:0px;
}

.SeparatorLine2
{
	height:1px; 
	overflow:hidden; 
	background-color:#000000; 
	margin:0px;
}

.InlinePanel1
{
	background-color:#e0eebc; 
	border: solid 1px #80A232;
}

.InlinePanel2
{
	background-color:#e0eebc; 
	border: solid 1px #80A232;
	padding:10px; 
	color:#54691d; 
}

.LineSpacer1
{
	height:5px;
	overflow:hidden;
}
